:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

@font-face {
  font-family: 'SuperSexyFont';
  src: url('../fonts/wf_b141192925a149329c7d2ceb8.woff2') format('woff2');
  font-weight: normal; /* font-weight: 700; */ 
  font-style: normal; /* font-style: italic; */
}

@font-face {
  font-family: 'SuperSexyFont2';
  src: url('../fonts/wf_4c51a36aac2c41e3bfb685965.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'SuperSexyFont', 'SuperSexyFont2', Arial, Helvetica, sans-serif;
  color: black;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar::-webkit-scrollbar {
  width: 0rem;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.header {
  text-align: center;
  background-color: #ff4800;
  color: #ffffff;
  max-width: 100%;
}


.section1 {
  text-align: center;
  color: #ffffff;
  max-width: 100%;
}

.section2 {
  text-align: center;
  color: #ffffff;
  max-width: 100%;
}

.pic_logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.pic1 {
  max-width: 200px;
  margin-bottom: 20px;
}

.pic2 {
  max-width: 200px;
  margin-bottom: 20px;
}

.button {
  font-family: 'SuperSexyFont2';
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.button:hover {
  background-color: #f60404;
}
.footer {
  text-align: center;
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  max-width: 100%;
}

.main-content {
  background-color: #0026b0;
  margin: 20px;
}

.long-text {
  word-wrap: break-word; /* Older browsers */
  overflow-wrap: break-word; /* Preferred for newer browsers */
}

.footer img {
  max-width: 50px; /* Adjust this value to suit your design */
  max-height: 50px; /* Adjust this value to suit your design */
  object-fit: contain;
  margin: 5px; /* Provides a little space around each image */
}

.social-icons {
  border: none;
  outline: none;
  text-decoration: none; /* Removes underline from links */
  display: inline-block; /* Aligns better with other inline or inline-block elements */
  line-height: 0; /* Removes white space below icons */
  font-size: 24px;
  margin: 10px;
}

.animate-icon img {
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.animate-icon:hover img {
  filter: none;
  transform: scale(1.1);
}

.srink-font-width {
  font-size: 18px; /* Default font size */
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}



/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 1000; /* Add this line */
  }

  .srink-font-width {
    font-size: 12px; /* Reduced font size */
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    z-index: 1000; /* Add this line */
  }

  .navbar.expanded {
    width: 16rem;
  }

  /* Adjustments for when navbar is expanded */
  .navbar.expanded .link-text {
    display: inline;
  }

  .navbar.expanded .logo svg {
    margin-left: 11rem;
  }

  .navbar.expanded .logo-text {
    left: 0px;
  }

  .navbar.expanded .logo svg {
    transform: rotate(-180deg);
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
